.item {
    padding-bottom: 15px;
}

.item img {
    width: 50px;
    border-radius: 50%;
}

.item button {
    border: 3px double rgb(140, 139, 139);
    border-radius: 10px;
    width: 95px;
    font-size: 16px;
    padding: 2px 4px;
    font-weight: 600;
}

.item button img {
    width: 25px;
    margin-right: 5px;
}

.item button:active {
    box-shadow: 4px 4px 12px inset #000;
}

.item p {
    margin: 5px 0 0 0;
}