.item {
    padding-bottom: 15px;
}

.item img {
    width: 50px;
    border-radius: 50%;
}

.item button {
    border: 2px solid rgba(204, 204, 204, 0.599);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 65px;
    font-size: 16px;
}

.item button img {
    width: 25px;
    margin-right: 5px;
}

.item button:active {
    box-shadow: 4px 4px 12px inset #000;
}
