.header {
    grid-area: header;
    background: linear-gradient(rgb(17, 0, 255), rgb(92, 81, 253), rgb(105, 89, 253), rgb(15, 250, 250), rgb(38, 0, 255));
  background-position: 0 0;
    /* background-image: linear-gradient( 109.6deg,  rgba(39,142,255,1) 11.2%, rgba(98,113,255,0.78) 100.2% ); */
    border-radius:0 0 20px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-top: none;
    box-shadow: 2px 2px 40px rgb(0, 238, 255);
    animation: background 30s infinite alternate;
}

@keyframes background {
  100% {
    background-position: 0 100px;
  }
}

.header img {
  height: 50px;
  width: 50px;
  margin: 5px 20px;
  background: rgba(38, 81, 154, 0.557);
  border-radius: 50%;
}

header{
  display: flex;
  align-items: center;
}

h1{
  margin-left: 20px;
  font-size: 38px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px #000;
}

.loginBlock {
  font-size: 23px;
  padding-right: 120px;
  flex-grow: 1;
  text-align: right;
}

.loginBlock a {
  color: white;
}

.btn_submit {
  width: 100px; 
  height:40px;
 
  box-shadow: 2px 2px 8px black;
  cursor: pointer;
  border: 3px double rgba(29, 13, 253, 0.507);
  background-image: linear-gradient(45deg, rgb(112, 140, 173) 11.2%, rgba(252, 252, 252, 0.78) 100.2%);
  border-radius: 20px;
  font-weight: 700;
}
