.header {
    grid-area: header;
    background: rgba(38, 81, 154, 0.559);
    border-radius:0 0 20px 20px;
    border: 2px solid black;
    border-top: none;
}
.header img {
  height: 50px;
  width: 50px;
  margin: 5px 20px;
  background: rgba(38, 81, 154, 0.557);
  border-radius: 50%;
}

header{
  display: flex;
  align-items: center;
}

h1{
  margin-left: 20px;
  font-size: 38px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px #000;
}

.loginBlock {
  font-size: 23px;
  padding-right: 120px;
  flex-grow: 1;
  text-align: right;
}

.loginBlock a {
  color: white;
}