.nav {
  padding: 20px;
  grid-area: nav;
  background-image: linear-gradient( 109.6deg,  rgba(39,142,255,1) 11.2%, rgba(98,113,255,0.78) 100.2% );
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 40px rgb(0, 238, 255);
}
.nav nav div {
  margin: 0 0 15px 0;
  font-size: 23px;
  text-shadow: 4px 4px 4px #000;
  padding: 0 0 15px 0;
  border-bottom: 2px solid rgba(36, 33, 33, 0.344);
}

.nav nav a {
  color:blanchedalmond;
  transition: all 0.5s ease 0s;
}
  
.nav nav a.notActive {
  color:blanchedalmond;
  transition: all 0.5s ease 0s;
}

.nav a.activeLink {
  color:black;
  text-transform: uppercase;
}
  
.nav a:hover {
  color: rgb(40, 50, 61);
}