/* .LoginFormConteiner{
    font-size: 23px;
    color: white;
    margin: 20px;
} */

.wrapper_formLogin {
    font-size: 16px;
    color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
    border: 3px double rgba(29, 13, 253, 0.507);
    box-shadow: 2px 2px 22px black;
    border-radius: 10%;
    padding: 25px;
    background-image: linear-gradient(45deg, rgb(112, 140, 173) 11.2%, rgba(27, 35, 109, 0.78) 100.2%);
}

.formLogin_conteiner h1 {
    text-align: center;
    margin: 0 0 50px 0;
}

.formLogin_conteiner input {
    padding: 10px;
    margin: 15px 0;
    width: 350px;
    border-radius: 10px;
    border: 3px double rgba(29, 13, 253, 0.507);
}

.formLogin_conteiner span {
    font-size: large;
    font-weight: 700;
    color: brown;
}

.formLogin_conteiner .btn_submit {
    width: 150px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
    border: 3px double rgba(29, 13, 253, 0.507);
    background-image: linear-gradient(45deg, rgb(112, 140, 173) 11.2%, rgba(252, 252, 252, 0.78) 100.2%);
    border-radius: 20px;
    font-weight: 700;
}

.checkbox_showPassword input {
    margin: 5px 0 30px 0;
    width: 30px;
}

.loginConteiner {
    display: flex;
    flex-direction: column;
}
.checkbox_rememberMy input{
    width: 30px;
}
