@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* --------------------------------------------------- */
.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  width: 1200px;
   margin: 0 auto;
}

.header {
  grid-area: header;
  background: rgba(38, 81, 154, 0.559);
  border-radius:0 0 20px 20px;
}
.header img {
  height: 50px;
  width: 50px;
  margin: 5px 20px;
  background: rgba(38, 81, 154, 0.557);
  border-radius: 50%;
}

.content {
  grid-area: content;
  background: rgba(38, 81, 154, 0.552);
  border-radius: 10px;
}

.content div {
  margin: 10px;
}

.content .img_1 {
  width: 100%;
  border-radius: 10px;
}

.content .img_2 {
  width: 150px;
  border-radius: 50%;
}

.nav {
  padding: 20px;
  grid-area: nav;
  background: rgba(38, 81, 154, 0.555);
  border-radius: 10px;
}
.nav div {
  margin: 0 0 15px 0;
  font-size: 22px;
  padding: 0 0 15px 0;
  border-bottom: 2px solid rgba(36, 33, 33, 0.344);
}

.nav a {
  color:blanchedalmond;
}

.nav a:hover {
  color: rgb(25, 34, 43);
}
