.app-wrapper {
	display: grid;
	grid-template-areas:
		"header header"
		"nav content";
	grid-template-rows: 90px 1fr;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
	width: 1200px;
	margin: 0 auto;
	min-width: 1200;
	height: 100vh;
}

.app-wrapper-content {
	grid-area: content;
	background-image: linear-gradient( 109.6deg,  rgba(39,142,255,1) 11.2%, rgba(98,113,255,0.78) 100.2% );
	border-radius: 10px;
	border: 2px solid rgb(0, 0, 0);
	box-shadow: 2px 2px 40px rgb(0, 238, 255);
}
