.conteiner_dialogs {
    font-size: 26px;
    margin: 10px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item .dialog {
    padding: 0 0 10px 0;
}

.dialogs_item .dialog .activeLink {
    color: black;
}

.dialogs_item .dialog .notactive {
    color: rgb(255, 255, 255);
}
.messages .message {
    padding: 0 0 10px 50px;
    margin: 0 0 30px 0;
    line-height: 1.2;
}
