.conteiner_dialogs {
    font-size: 26px;
    margin: 10px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 10fr;                     
}

.addMessage {
    resize: none;
    border: 2px solid black; 
    border-radius: 10px;
    margin: 0 0 0 50px;
    padding: 5px;
}  

.btnAddMessage {
    height: 30px;
    width: 80px;   
    border: 3px double rgb(140, 139, 139);
    border-radius: 10px;
    font-size: 16px;
    padding: 2px 4px;
    margin: 10px 10px 10px 600px;
    font-weight: 600;
}


.btnAddMessage:active {
    box-shadow: 4px 4px 12px inset #000;
}